body{
  background-image: url(../pictures/oboi.jpg) !important;

}

header{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
	color: #fff;  
	height: 60px;
	font-family: Arial;
    font-size: 20px;
}

a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: none;
	color: #00F9DA;
}

.Glavnaya{
	position: absolute;
	top: 28%;
  left: 9%;
}
.Voiti{
	position: absolute;
	top: 28%;
  left: 16%;
}
.Kontaktu{
	position: absolute;
	top: 28%;
  left:22%;
}
.Lichnui_kabinet{
	position: absolute;
	top: 28%;
  left: 30%;
}
.Yslygi{
	position: absolute;
	top: 28%;
  left: 42%;
}
.Telephone{
	position: absolute;
	top: 38%;
  left: 72%;
  font-size: 16px;
}

.btn{
	cursor: pointer;
	position: absolute;
	top: 20%;
  left: 92%;
  height: 40px;
  weight: 60px;
  background-color: #00F9DA;
  border: 1px solid #00F9DA;
}
.btn:hover{
	background-color: #83F7E2;
	border: 1px solid #83F7E2;
}

 .logo_pic{
 	position: absolute;
	top: 9%;
  left: 25px;
  height: 45px;
  weight: 40px;
 }

.slider {
  position: relative;
  width: 680px;
  margin: 150px auto;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
  border: 5px solid #363E44;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 360px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}

.email_form{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: #fff;
  height: 60px;
  font-family: Arial;
  font-size: 20px;
}

.text_email{
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.name{
  position: absolute;
  left: 48%;
  bottom: 20%;
  height: 30px;
  border: 1px solid #999;
  border-radius: 5px;
}

.email{
  position: absolute;
  left: 61%;
  bottom: 20%;
  height: 30px;
  border: 1px solid #999;
  border-radius: 5px;
}

.btn_email{
  cursor: pointer;
  position: absolute;
  left: 74%;
  bottom: 13%;
  height: 42px;
  weight: 70px;
  background-color: #FAB2FC;
  border: 2px solid #FAB2FC;
}
.btn_email:hover{
  background-color: #FCCBFC;
  border: 2px solid #FCCBFC;
}